<div class="error-container">
  <i class="fa fa-map-signs fa-5x text-success"></i>
  <h1>500</h1>
  <strong>Internal Server Error</strong>
  <p>
    The server encountered something unexpected that didn't allow it to complete the request. We apologize.
  </p>
  <a href="/" class="btn btn-xs btn-success">Go back to dashboard</a>
</div>
