<div class="col-xs-12 col-sm-6 col-md-2">
  <%= image %>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <p>
    <span class="card-account-card-name">
      <%= name %>
    </span>
  </p>

  <p>
    <span class="card-account-bank">
      <%= bank_name %>
    </span>
  </p>
</div>
