<div class="row">
  <div class="col-xs-12 col-md-4">
    <a href="<%= link_href || '#' %>" class="btn btn-info" style="background-color: #35a7ff;">
      <%= link_text %>
    </a>
  </div>
  <div class="col-xs-12 col-md-8">
    <%= text %>
  </div>
</div>
