<div class="hpanel">
  <div class='panel-heading hbuilt'>
    <h1>AwardWallet</h1>

    <p>TODO - add text explaining AwardWallet shizzle</p>
  </div>

  <div class='panel-body'>
    <div class='row'>
      <div class='col-xs-12'>
        <%= user_info %>
      </div>
    </div>

    <hr>

    <div class='row'>
      <div class='col-xs-12'>
        <h3>Account Members</h3>

        <p>
          We detected the following members on your AwardWallet account. We
          need to know if they're the same people who you've already told us
          about.
        </p>

        <p>THIS IS PLACEHOLDER TEXT. TODO - EXPAND</p>
      </div>

      <%= owner_settings %>
    </div>
  </div>
</div>
