<div id="card-survey-initial" class="text-center">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">Do you have any credit cards that earn points or miles?</p>
    </div>

    <a href="#why-we-ask-cards-survey" data-toggle="collapse" aria-expanded="false">
      <span style="color: #1fb6ff; font-size: 14px;" class="fa fa-question-circle"></span>
      <span style="color: #1fb6ff; font-size: 14px;"><em>Why do we ask?</em></span>
    </a>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <br>
      <div id="why-we-ask-cards-survey" class="collapse">
        <div class="well well-lg">
          <p>Before we can recommend you a credit card to apply for, we need to
            know which cards you already have.</p>

          <p>Have you ever had a credit card that earns points or miles?</p>

          <p>For example, a card that earns airline frequent flyer miles when
            you use it. Or bank points, like Amex, Chase, SPG, Citi, or Capital
            one.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button id="card-survey-initial-yes-btn" class="btn btn-lg btn-primary">
        Yes
      </button>

      <button id="card-survey-initial-no-btn" class="btn btn-lg btn-default">
        No
      </button>
    </div>
  </div>
</div>
