<div id="card-survey-initial" class="text-center">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">Do you have any credit cards that earn points or miles?</p>
    </div>

    <a href="#why-we-ask-cards-survey" data-toggle="collapse" aria-expanded="false">
      <span style="color: #1fb6ff; font-size: 14px;" class="fa fa-question-circle"></span>
      <span style="color: #1fb6ff; font-size: 14px;"><em>Why do we ask?</em></span>
    </a>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <br>
      <div id="why-we-ask-cards-survey" class="collapse">
        <div class="well well-lg">
          Giving us more information about any specific trips you have planned
          in the future (especially those 3 or more months away) will help us
          design a better overall points strategy, both for the specific trips
          you've already planned and those yet to be planned.
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button id="card-survey-initial-yes-btn" class="btn btn-lg btn-primary">
          Yes
        </button>

        <button id="card-survey-initial-no-btn" class="btn btn-lg btn-default">
          No
        </button>
      </div>
    </div>
  </div>
</div>
