<div class='hpanel'>
  <div class='panel-heading hbuilt'>
    <h1>Add a New Card</h1>
  </div>

  <div class='panel-body hbuilt'>
    <%= bank_select %>

    <%= products_grouped_by_bank %>
  </div>
</div>
