<div class="col-xs-12 col-md-4 side-area">
  <p class="complete-profile">1. Complete profile <i class="fa fa-check" aria-hidden="true"></i></p>
  <p class="next-step">2. Earn points</p>
  <p>3. Travel</p>
</div>

<div class="col-xs-12 col-md-8 main-area">
  <p class="next-question">What's next?</p>
  <p><%= t("dashboard.account.ineligible.message") %></p>
</div>

