<div class="col-xs-12 col-md-4 side-area">
  <p class="complete-profile">1. Complete profile <i class="fa fa-check" aria-hidden="true"></i></p>
  <p class="next-step">2. Wait 24-48 hours</p>
  <p>3. Apply for card</p>
  <p>4. Earn bonus points</p>
  <p>5. Book travel</p>
</div>

<div class="col-xs-12 col-md-8 main-area">
  <p class="next-question">What's next?</p>
  <p><%= t("dashboard.account.ready.message") %></p>
</div>

