{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true,
    "describe": true,
    "jest": true,
    "it": true,
    "expect": true,
    "$": true,
    "_": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "array-bracket-spacing": 0,
    "arrow-body-style": 0,
    "comma-dangle" : [1, "always-multiline" ],
    "comma-spacing" : 1,
    "consistent-return": 0,
    "default-case" : 0,
    "eqeqeq" : 1,
    "func-names" : 1,
    "indent" : [1, 2, {
      "VariableDeclarator": { "var": 2, "let": 2, "const": 3 },
      "SwitchCase" : 1
    }],
    "jsx-quotes":  [1, "prefer-double"],
    "key-spacing": 0,
    "no-cond-assign" : 0,
    "no-console" : 1,
    "no-else-return": 0,
    "no-extra-semi" : 1,
    "no-multiple-empty-lines" : 1,
    "no-multi-spaces" : 0,
    "no-nested-ternary" : 0,
    "no-param-reassign" : 1,
    "no-throw-literal" : 0,
    "no-trailing-spaces": 1,
    "no-unused-expressions": 1,
    "no-unused-vars" : 0,
    "object-curly-spacing": 0,
    "object-shorthand" : 1,
    "one-var" : 0,
    "one-var-declaration-per-line" : 0,
    "padded-blocks" : 1,
    "prefer-arrow-callback" : 1,
    "prefer-template" : 0,
    "quotes": 0,
    "react/jsx-boolean-value" : 1,
    "react/jsx-closing-bracket-location" : 1,
    "react/jsx-indent-props" : 1,
    "react/jsx-quotes": 0,
    "react/jsx-space-before-closing": 1,
    "react/prefer-es6-class" : 0,
    "react/prop-types" : 0,
    "react/sort-comp" : 1,
    "semi" : 1,
    "space-before-blocks" :1,
    "space-infix-ops": 1,
    "space-in-parens": 1,
    "keyword-spacing" : 1
  }
}
