<% provide :title, "Accounts" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>User accounts</h1>
  </div>

  <div class="panel-body">
    <div class="form-group col-xs-12 col-md-8">
      <input
        id="admin_accounts_table_filter"
        type="text"
        class="form-control"
        placeholder="Filter by name or email..."
        />
    </div>

    <div class="form-inline">
      <div class="form-group col-xs-12 col-md-4">

        <div class="radio">
          <label>
            <input
              checked
              name="admin_accounts_filter_onboarded"
              type="radio"
              value="all"
            />
            All
          </label>
        </div>

        <div class="radio">
          <label>
            <input
              name="admin_accounts_filter_onboarded"
              type="radio"
              value="onboarded"
            />
            Onboarded
          </label>
        </div>

        <div class="radio">
          <label>
            <input
              name="admin_accounts_filter_onboarded"
              type="radio"
              value="not_onboarded"
            />
            Not onboarded
          </label>
        </div>

      </div>
    </div>

    <table
      id="admin_accounts_table"
      class="accounts table table-striped"
      cellpadding="1"
      cellspacing="1"
    >
      <thead>
        <tr>
          <th>O?</th>
          <th>Email</th>
          <th>Owner</th>
          <th>Companion</th>
          <th>Phone number</th>
          <th>Signed up</th>
          <th>Last rec</th>
        </tr>
      </thead>
      <tbody id="admin_accounts_table_body">
        <%= cell(Account::Cell::TableRow, collection: @accounts) %>
      </tbody>
    </table>

    <%= link_to "Download User last recommendation statuses as CSV", download_user_status_csv_admin_accounts_path %>
  </div>
</div>
