<% provide :title, "Accounts" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>Account Search</h1>
  </div>

  <div class="panel-body">
    <% if @collection.any? %>
      Showing <%= pluralize @collection.size, 'result' %> for
      '<%= params[:accounts][:search].squish %>':
      <table
        id="admin_accounts_table"
        class="accounts table table-striped"
        cellpadding="1"
        cellspacing="1"
      >
        <thead>
          <tr>
            <th>O?</th>
            <th>Email</th>
            <th>Owner</th>
            <th>Companion</th>
            <th>Phone number</th>
            <th>Signed up</th>
            <th>Last rec</th>
          </tr>
        </thead>
        <tbody id="admin_accounts_table_body">
          <%= cell(AdminArea::Accounts::Cell::Index::TableRow, collection: @collection) %>
        </tbody>
      </table>
    <% else %>
      No results for '<%= params[:accounts][:search].squish %>'
    <% end %>
  </div>
</div>
