<% provide :title, @account.email %>

<% content_for :wide do %>
  <div
    data-react-component="AccountInfo"
    data-account="<%= serialize(@account) %>"
  />
  </div>

  <%# hack to create some margin at the top of the page so the fixed position %>
  <%# 'AccountInfo' hpanel doesn't overlap the start of the content  %>
  <div style="height:180px"></div>
<% end %>
