<% provide :title, @account.email %>

<% content_for :wide do %>
  <div
    data-react-component="AccountPage"
    data-account="<%= serialize @account %>"
    data-alliances="<%= serialize_array(@alliances) %>"
  >
  </div>
<% end %>
