<div id="balances-survey-confirm-no" class="text-center" style="display:none;">
  <p><%= body %></p>

  <%= form_tag do |f| %>
    <%= f.hidden_field :award_wallet_onboarding, value: false %>

    <%= submit_tag 'Confirm', class: 'btn btn-primary btn-lg' %>

    <a
      id="balances-survey-confirm-no-back-btn"
      href='#'
      class="btn btn-lg btn-default"
    >
      Back
    </a>
  <% end %>
</div><!-- #balances-survey-confirm-no -->
