<div
  id="balances-survey-main"
  <% unless current_panel == 'main' %>
    style="display:none;"
  <% end %>
>
  <%= form_tag do |f| %>
    <div class="balances_survey">
      <h4><%= header %></h4>

      <%= f.fields_for :balances do |balance_form| %>
        <%= fields_for_balance(balance_form) %>
      <% end %>
    </div><!-- .balances-survey -->

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-lg btn-primary">
          <i class="fa fa-check" aria-hidden="true"></i>
          Save and continue
        </button>
      </div>
    </div>
  <% end # form_tag %>
</div>
