<p>Hey <%= owner_first_name %>,</p>

<p><%= explanation %></p>

<%= cards_for_each_person %>

<p>Check out this post to learn more about how to get the annual fee waived:</p>

<p><%= link %></p>

<p>
  Cheers,<br>
  The Abroaders Team
</p>
