<% provide :title, 'Banks' %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>Banks</h1>
  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone (personal)</th>
          <th>Phone (business)</th>
        </tr>
      </thead>
      <tbody>
        <% @banks.each do |bank| %>
          <tr>
            <td><%= bank.name %></td>
            <td><%= bank.personal_phone %></td>
            <td><%= bank.business_phone %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
