.editable_balance {
  .award_wallet_logo {
    margin-right: 2px;
    margin-top: 2px;
  }

  .balance_additional_info {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 3px;

    > .balance_updated_at {
      color: #35a7ff;
    }

    > p {
      margin-bottom: 1px;
    }
  }

  .LoadingSpinner {
    float: right;
    top: 13px;
    right: 22px;
    display: none;
  }

  // .balance_value_editing {
    // height: 30px;
  // }
}
