<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr><%= headers %></tr>
    </thead>
    <tbody>
      <%= rows %>
    </tbody>
  </table>
</div>
