<div class="home-airports-survey">
  <div class="row text-center">
    <div class="col-xs-12">
      <h2>Home Airports</h2>

      <p class="lead">Which airport(s) do you usually depart from?</p>

      <a href="#why-we-ask-home-airports" data-toggle="collapse" aria-expanded="false">
        <span style="color: #1fb6ff; font-size: 14px;" class="fa fa-question-circle"></span>
        <span style="color: #1fb6ff; font-size: 14px;"><em>Why do we ask?</em></span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div id="why-we-ask-home-airports" class="collapse">
        <div class="well well-lg">
          Knowing which airport or airports you usually depart from will help
          us ensure that we get you the best points for flights out of that
          airport.  This is an important piece of information for us to help
          you build the best overall points strategy.
        </div>
      </div>
    </div>
  </div>

  <br>

  <%= body %>
</div>
