<div class="panel-body">
  <p class="helper-message">You can add five airports maximum</p>
  <div class="col-md-9">

    <% path = %w[survey save_survey].include?(params[:action]) ? survey_home_airports_path : overwrite_home_airports_path %>
    <%= form_tag path, html: { class: "home-airport-survey-form text-center" } do %>
      <div class="row">
        <div class="col-xs-12 col-md-4 saved-area" style="visibility:hidden;">
          <p class="title">Saved home airports:</p>
          <div class="home-airports"></div>
        </div>

        <div class="col-xs-12 col-md-8">
          <div class="alert alert-info info-message"></div>
          <div class="alert alert-danger error-message"></div>
          <div class="row form-group">
            <div class="col-xs-12">
              <%= text_field_tag :typeahead, nil, class: "form-control typeahead", placeholder: "ex. New York or JFK" %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <%= button_tag type: "submit", class: "submit-airports-survey btn btn-lg btn-primary", disabled: true do %>
                <i class="fa fa-check" aria-hidden="true"></i>
                Save and continue
              <% end %>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div><!-- .panel-body -->
