<% provide :title, "Add Home Aiports" %>

<div class="hpanel home-airports-survey">
  <div class="panel-heading hbuilt">
    <div class="row">
      <div class="col-xs-12 greeting-message">
        <% if %w[survey save_survey].include?(params[:action]) %>
          <h1>Welcome, traveler!</h1>

          <h2>What's your home airport?</h2>
        <% else %>
          <h1>Update Home Airports</h1>
        <% end %>

        <p>
          Knowing your home airports helps us craft a better overall strategy
          to maximize rewards. Don’t worry if your upcoming travel plans don’t
          start at your home airport, we’ll ask about specific travel goals
          next.
        </p>
      </div>
    </div><!-- .row -->
  </div>

  <%= render "home_airports/survey_form", survey: @survey %>
</div>
