<% provide :title, "Add Home Aiports" %>

<div class="hpanel home-airports-survey">
  <div class="panel-heading hbuilt">
    <div class="row">
      <div class="col-xs-12 greeting-message">
        <h1>Welcome, traveler!</h1>
        <h2>What's your home airport?</h2>

        <p>
          Knowing your home airports helps us craft a better overall strategy
          to maximize rewards. Don’t worry if your upcoming travel plans don’t
          start at your home airport, we’ll ask about specific travel goals
          next.
        </p>
      </div>
    </div><!-- .row -->
  </div>

  <%= render "home_airports/survey_form", survey: @survey %>
</div>

<%# make sure this is only output when the user has first signed up, %>
<%# and at no other time: %>
<div id='papSaleTrackingPlaceholder'></div>

<% if Rails.env.production? %>
  <script type="text/javascript">
    (function(d,t) {
      var script = d.createElement(t); script.id= 'pap_x2s6df8d'; script.async = true;
      script.src = '//abroaders.postaffiliatepro.com/scripts/fvoj8fzu';
      script.onload = script.onreadystatechange = function() {
        var rs = this.readyState; if (rs && (rs != 'complete') && (rs != 'loaded')) return;

        PostAffTracker.setAccountId('default1');
        var sale = PostAffTracker.createAction('app_signup');
        sale.setData1('<%= current_account.id %>');
        sale.setData2('<%= current_account.email %>');
        sale.setData3('<%= current_account.owner_first_name %>');

        try { PostAffTracker.track(); } catch (e) {}

      }
      var placeholder = document.getElementById('papSaleTrackingPlaceholder');
      placeholder.parentNode.insertBefore(script, placeholder);
      placeholder.parentNode.removeChild(placeholder);
    })(document, 'script');
  </script>
<% end %>
