// New user dashboard
.new-user-instructions {
  font-size: 18px;

  a, .tooltip-btn {
    text-decoration: underline;
  }

  .tooltip-btn {
    color: #34495e;
    cursor: pointer;
    font-weight: 700;
  }
}

.new-user-steps {
  $green: #4dde35;

  .completed {
    text-decoration: line-through;
    .fa { color: $green; }
  }

  .next {
    color: $green;
    font-weight: 700;
  }
}
