<div class="row">
  <div class="col-xs-12">
    <h1>Dashboard</h1>
  </div>
</div>

<%= travel_plans %>

<div class="row">
  <div class="col-xs-12">
    <h2>Points Earning</h2>
  </div>
</div>

<%= people %>

<%= unresolved_recs_modal %>
