<table cellpadding="1" cellspacing="1" class="table table-responsive text-left">
  <thead>
    <tr>
      <th>Program</th>
      <th>Name</th>
      <th>Points Balance</th>
    </tr>
  </thead>
  <tbody>
    <%= rows %>
  </tbody>
</table>
