var offerId = <%= @model.offer.id %>

$("#admin_recommend_offer_" + offerId + " .offer-recommend").html(
  "<button class='btn btn-xs btn-success pull-right' disabled>Recommended!</button>"
);

var tr = "<%= j cell(AdminArea::CardRecommendations::Cell::Table::Row, @model).() %>";

$("#admin_person_card_recommendations_table tbody").append(tr);
// If the user had no recommendations when the page was initially loaded, the
// be hidden, so show it:
$("#admin_person_card_recommendations").show();
// And hide the text that says there are no card accounts:
$("#admin_person_card_recommendations_none").hide();
