var offerId = <%= @offer.id %>

$("#admin_recommend_offer_" + offerId + " .offer-recommend").html(
  "<button class='btn btn-xs btn-success pull-right' disabled>Recommended!</button>"
);

var tr = "<%= j cell(AdminArea::Cards::Cell::TableRow, @card).() %>";

// If the user had no card accounts when the page was initially loaded, the table will
// be hidden, so show it:
$("#admin_person_cards").show();
// And hide the text that says there are no card accounts:
$("#admin_person_cards_none").hide();
$("#admin_person_cards_table tbody").append(tr);
