var offerId = <%= @offer.id %>

$("#admin_recommend_offer_" + offerId + " .offer-recommend").html(
  "<button class='btn btn-xs btn-success pull-right' disabled>Recommended!</button>"
);

var tr = "<%= j render "admin_area/card_accounts/card_account", card_account: @card_account %>";

// If the user had no card accounts when the page was initially loaded, the table will
// be hidden, so show it:
$("#admin_person_card_accounts").show();
$("#admin_person_card_accounts_table tbody").append(tr);
