<div class="row">
  <div class="col-xs-2 recommendation-notes-date">
    <%= created_at.strftime('%D %R %Z') %> - <%= link_to_edit %>
  </div>

  <div class="col-xs-10">
    <%= content %>
  </div>
</div>
