<% if Rails.env.production? %>
  <script type="text/javascript">
    document.write(decodeURI("%3Cscript id='pap_x2s6df8d' src='" + (("https:" == document.location.protocol) ? "https://" : "http://") +
    "abroaders.postaffiliatepro.com/scripts/trackjs.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    PostAffTracker.setAccountId('default1');
    try {
    PostAffTracker.track();
    } catch (err) { }
  </script>

  <% if current_account %>
    <% if just_signed_up? %>
      <div id='papSaleTrackingPlaceholder'></div>
    <% end %>

    <script type="text/javascript">
      (function(d,t) {
        var script = d.createElement(t); script.id= 'pap_x2s6df8d'; script.async = true;
        script.src = '//abroaders.postaffiliatepro.com/scripts/fvoj8fzu';
        script.onload = script.onreadystatechange = function() {
          var rs = this.readyState; if (rs && (rs != 'complete') && (rs != 'loaded')) return;

          PostAffTracker.setAccountId('default1');
          var sale = PostAffTracker.createAction('app_signup');
          sale.setData1('<%= current_account.id %>');
          sale.setData2('<%= current_account.email %>');
          sale.setData3('<%= current_account.owner_first_name %>');

          try { PostAffTracker.track(); } catch (e) {}
        }
        var placeholder = document.getElementById('papSaleTrackingPlaceholder');
        placeholder.parentNode.insertBefore(script, placeholder);
        placeholder.parentNode.removeChild(placeholder);
      })(document, 'script');
    </script>
  <% end %>
<% end %>
