<% present closed_card_account do |card_account| %>
  <%= card_account.render do %>
    <p><b>Opened:</b> <%= card_account.opened_at %></p>
    <p><b>Closed:</b> <%= card_account.closed_at %></p>
  <% end %>
<% end %>
