<%# TODO provide :title, "Travel Plans" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>
      Travel Plans

      <%= link_to(
        'Add new',
        new_travel_plan_path,
        class: 'btn btn-primary btn-sm',
        style: 'float: right; margin-top: 6px;',
      ) %>
    </h1>
  </div>

  <div class="panel-body">
    <%= travel_plans %>
  </div>
</div>
