// @import 'colors'; This doesn't work :(

$darkBlue: #0e96ff;

.admin_area_people_show {
  .panel-heading p {
    font-weight: normal;
  }
}

tr.admin_recommend_card_product {
  background-color: $darkBlue;
  color: #f0f0f0;

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

tr.admin_recommend_product_offers > td {
  padding: 4px 8px !important;
}

.admin_recommend_card_product_offers_table {
  margin-bottom: 0;
}

.admin_recommend_offer:first-child > td {
  border-top: none !important;
}

.admin-card-recommendation-table {
  th, td {

    &.card-identifier {
      width: 120px;
    }

    &.card-name {
      width: 40%;
    }

    &.card-bank-name {
      width: 200px;
    }

    &.card-bp {
      width: 100px;
    }

    &.card-currency {
      min-width: 180px;
    }
  }
}

tr.admin_recommend_card_product_offers {
  margin-bottom: 0 !important;

  > td {
    padding: 0 !important;
  }
}

td.offer-identifier {
  width: 10%;
}

td.offer-partner {
  width: 12%;
}

td.offer-points-awarded {
  width: 14%;
}

td.offer-spend {
  width: 15%;
}

td.offer-cost {
  width: 15%;
}

td.offer-days {
  width: 10%;
}

.cancel_recommend_offer_btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.confirm_recommend_offer_btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
