// @import 'colors'; This doesn't work :(

$darkBlue: #0e96ff;

.admin_area_people_show {
  .panel-heading p {
    font-weight: normal;
  }
}

tr.admin_recommend_card_product {
  background-color: $darkBlue;
  color: #f0f0f0;

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

tr.admin_recommend_product_offers > td {
  padding: 4px 8px !important;
}

.admin_recommend_card_product_offers_table {
  margin-bottom: 0;
}

.admin_recommend_offer:first-child > td {
  border-top: none !important;
}

.admin-card-recommendation-table {
  th, td {

    &.card-identifier {
      width: 120px;
    }

    &.card-name {
      width: 40%;
    }

    &.card-bank-name {
      width: 200px;
    }

    &.card-bp {
      width: 100px;
    }

    &.card-currency {
      min-width: 180px;
    }
  }
}

tr.admin_recommend_card_product_offers {
  margin-bottom: 0 !important;

  > td {
    padding: 0 !important;
  }
}
