<%= container do %>
  <div class="modal-header">
    <%= image %>

    <h3><strong>Your card recommendations are here!</strong></h3>

    <p>
      We don't mean to rush you, but card offers do change all the time. The
      sooner you apply for the card, the more likely you are to get the best
      available offer.
    </p>

    </br>

    <%= link_to_continue %>
  </div>
<% end %>
