<%= container do %>
  <div class="modal-header text-center">
    <h3 id="actionable_recommendations_notification_modal_label">
      Action Required
    </h3>
  </div>

  <div class="modal-body">
    You have card recommendations that require immediate action. Please
    apply for the recommended cards as soon as possible.
  </div>

  <div class="modal-footer">
    <%= link_to_continue %>
  </div>
<% end %>
