<div class="row new-user-instructions">
  <div class="col-xs-12 col-md-4 new-user-steps">
    <p class="completed">
      1. Complete profile <i class="fa fa-check" aria-hidden="true"> </i>
    </p>
    <%= steps %>
  </div><!-- .new-user-steps -->

  <div class="col-xs-12 col-md-8 main-area">
    <p><b>What's next?</b></p>
    <%= whats_next %>
  </div>
</div>

<hr />
