<span class="<%= dom_id(destination) %>">
  <span class="destination-name">
    <%= destination.name %>
  </span>
  <span class="destination-region-name">
    (<%= destination.code %>)
  </span>
</span>
