<% present(destination, DestinationPresenter) do |destination_p| %>
  <span class="<%= destination_p.html_class %>">
    <span class="destination-name">
      <%= destination_p.name %>
    </span>
    -
    <span class="destination-region-name">
      <%= destination_p.region_name %>
    </span>
  </span>
<% end %>
