<% provide :title, "My Travel Plans" %>

<h1>
  My Travel Plans
  <small><%= link_to "Add new", new_travel_plan_path %></small>
</h1>

<%= render(
  partial: "travel_plan",
  collection: @travel_plans,
  locals: { show_links: true }
) %>
