<h1>Add a Travel Plan</h1>

<p>
  Where do you want to go, and when? Let us know your travel plans and
  we'll help you get a great deal on the flight.
</p>

<%= render "travel_plans/form", travel_plan: @travel_plan %>
