<% provide :title, "Add a Travel Plan" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h2>Add a Travel Plan</h2>
  </div>

  <%= render "travel_plans/form", travel_plan: @form %>
</div>
