<% provide(:title, "Create New Travel Plan") %>

<h1>Create New Travel Plan</h1>

<%= form_for @travel_plan do |f| %>

    <div class="row">
      <div class="col-xs-12">
        <label>
          Single
          &nbsp;
          <input type="radio" name="travel_plan_type" value="single"
                     onClick={this.props.changeTypeCallback} />
        </label>
        &nbsp;
        <label>
          Return
          &nbsp;
          <input type="radio" name="travel_plan_type" value="return"
                     defaultChecked
                     onClick={this.props.changeTypeCallback} />
        </label>
        &nbsp;
        <label>
          Multi-city
          &nbsp;
          <input type="radio" name="travel_plan_type" value="multicity"
                     onClick={this.props.changeTypeCallback} />
        </label>
      </div>
    </div>

    <div class="row">
      <div class={formGroupClass}>
        <label htmlFor="travel_plan_origin_lookup">From: </label>
        <input id="travel_plan_origin_lookup" type="text"
               autoComplete="off" class="form-control" />
      </div>

      <div class={formGroupClass}>
        <label htmlFor="travel_plan_destination_lookup">To: </label>
        <input id="travel_plan_destination_lookup" type="text"
               autoComplete="off" class="form-control" />
      </div>

      <div class="col-xs-12 col-sm-2">
        <button class="add-travel-plan-leg-btn btn btn-primary">+</button>
        <button class="remove-travel-plan-leg-btn btn btn-default">-</button>
      </div><!-- .col-xs-12.col-sm-1 -->
    </div><!-- .row -->

    <div class="row">
      <% 2.times do %>
        <div class={this.props.colClasses} style={style}>
          <div id="travel_plan_daterange_select"
                class="input-daterange input-group">
            <span class="input-group-addon">Between</span>
            <input type="text" class="form-control" name="start" />
            <span class="input-group-addon">and</span>
            <input type="text" class="form-control" name="end" />
          </div>
        </div>
      <% end %>
    </div><!-- .row -->

    <div class="row">
      <div class="col-xs-4">
        <label>No of passengers</label>
        <input type="number" class="form-control" />
      </div>
    </div>

<% end %>
