<% provide :title, "Add a Travel Plan" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <div class="row">
      <div class="col-xs-12">
        <h2>Add a Travel Plan</h2>
      </div>
    </div><!-- .row -->
  </div>

  <%= render "travel_plans/form", travel_plan: @travel_plan %>
</div>
