<% provide(:title, "Create New Travel Plan") %>

<h1>Create New Travel Plan</h1>

<%=
  react_component(
    "TravelPlanForm",
    planTypes:   TravelPlan::TYPES,
    defaultType: TravelPlan::DEFAULT_TYPE,
    maxFlights:  TravelPlan::MAX_FLIGHTS,
    travelPlan:  @travel_plan.attributes
  )
%>

