<% provide(:title, "Create New Travel Plan") %>

<h1>Create New Travel Plan</h1>

<%=
  react_component(
    "TravelPlanForm",
    defaultType: TravelPlan::DEFAULT_TYPE,
    maxFlights:  TravelPlan::MAX_FLIGHTS,
    planTypes:   TravelPlan::TYPES,
    travelPlan:  @travel_plan.attributes,
    url:         travel_plans_path
  )
%>

