<% provide :title, "Add a Travel Plan" %>
<% provide :no_sidebar, true if !current_account.onboarding_survey.complete? %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Add a Travel Plan</h2>

        <p>
          Add your travel plans to get professional help saving hundreds,
          if not thousands, per person, per flight.
        </p>
      </div>
    </div><!-- .row -->
  </div>

  <%= render "travel_plans/form", travel_plan: @travel_plan %>
</div>
