<div class="alert alert-danger alert-dismissable" role="aert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>

  <%= yield %>
</div>
