<% if model.errors.any? %>
  <div class="alert alert-danger alert-dismissable" role="aert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>

    There
    <% if model.errors.count > 1 %>
      were <%= model.errors.count %> errors
    <% else %>
      was an error
    <% end %>
    and the <%= model.model_name.name.downcase %> could not be saved:

    <ul>
      <% model.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
