<% unless form.errors.messages.empty? %>
  <%= render "shared/error_message" do %>
    Error:

    <ul>
      <% form.errors.messages.each do |attr, errors| %>
        <li><%= attr.to_s.humanize %> <%= errors.to_sentence %></li>
      <% end %>
    </ul>
  <% end  %>
<% end %>
