<div class="col-xs-12 col-md-6 filters-large-column">
  <div class="panel panel-primary">
    <div class="panel-heading"><%= name %></div>
    <div class="panel-body">
      <label for="card_currency_alliance_filter_all_for_<%= id %>">
        <%= filter_all_check_box_tag %>
        Toggle all
      </label>
      <hr>
      <%= currency_check_boxes %>
    </div>
  </div>
</div>
