#admin_user_card_accounts_table {
  th, td {
    &:first-child {
      width: 33px;

      input[type=radio] {
        position: relative;
        top: -1px;
        margin: 0 0 0 4px;
      }
    }

    &:nth-child(2) {
      width: 80px;
    }

    &:nth-child(3) {
      width: 200px;
    }
  }
}
