<%= form_tag do %>
  <div class="panel-body">
    <%= hidden_field :account, :type, value: :solo %>

    <h2>
      <i class="fa fa-user"> </i>
      &nbsp;
      Solo Account
    </h2>

    <button class="btn btn-primary">
      Select solo account
    </button>
  </div>
<% end %>
