.balances_survey {
  input[type='checkbox'] {
    margin-top: -5px;
  }

  label {
    width: 25%;
    font-size: 1.1em;
  }

  .currency {
    height: 40px;
    line-height: 40px;
  }

  .currency_balance_value {
    display: inline-block;
    width: 230px;
  }
}
