<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1><%= person_first_name %> - Pulled card recommendations</h1>
    <p><%= email %></p>
    <p><%= link_to_go_back %></p>
  </div>

  <div class="panel-body">
    <table id="admin_person_pulled_cards" class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Recommended</th>
        <th>Seen</th>
        <th>Clicked</th>
        <th>Denied</th>
        <th>Declined</th>
        <th>Pulled</th>
      </thead>
      <tbody>
        <%= table_rows %>
      </tbody>
    </table>
  </div>
</div>
