<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>
      <%= header_text %>

      <%= link_to_add_new_balance %>
    </h1>
  </div>

  <div class="person_balances panel-body">
    <%= balances %>
  </div><!-- .person_balances.panel-body -->
</div>
