.editable_balance {
  .updated_at {
    color: #35a7ff;
    font-style: italic;
  }

  .LoadingSpinner {
    float: right;
    top: 13px;
    right: 22px;
    display: none;
  }

  // .balance_value_editing {
    // height: 30px;
  // }
}
