<%= header %>

  <% if form.errors.any? %>
    <div class="alert alert-danger">
      <p>Couldn't save your points.</p>

      <p>All points balances must be greater than or equal to 0</p>
    </div>
  <% end %>

<div class="row">
  <div class="col-xs-12">
    <%= initial %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= confirm_no %>
  </div>
</div>

<%= main %>
