<ul>
  <% balances.each do |balance| %>
    <li id="<%= dom_id(balance) %>">
      <b><%= balance.currency_name %>:</b>
      <span class="balance">
        <%= number_with_delimiter(balance.value) %>
      </span>
    </li>
  <% end %>
</ul>
