<div class="col-xs-12">
  <% if people_with_unresolved_reqs.any? %>
    <p><%= you_requested_recs %>. We'll get them to you within 24-48 hours.</p>
  <% end %>

  <% if people_with_actionable_recs.any? %>
    <p><%= people_have_actionable_recs %>. Please visit the
      <%= link_to 'My Cards page', cards_path %> and follow the instructions.</p>
  <% end %>
</div>
