// The same color that the Bootstrap theme adds to every other row of tables
// which have the class .table-striped:
$tableStripeColor: #4e5d6c;

tr.admin_recommend_card {
  background-color: $tableStripeColor;
}

.admin-card-recommendation-table {
  // TODO make table sortable again (maybe)
  // th {
  //   cursor: pointer;

  //   &:not(.headerSortDown) .fa-sort-asc {
  //     display: none;
  //   }

  //   &:not(.headerSortUp) .fa-sort-desc {
  //     display: none;
  //   }
  // }

  th, td {

    &.card-identifier {
      width: 120px;
    }

    &.card-name {
      width: 40%;
    }

    &.card-bank-name {
      width: 200px;
    }

    &.card-bp {
      width: 100px;
    }

    &.card-currency {
      min-width: 180px;
    }

  }

}

table.admin_recommend_card_offers_table {
  margin-bottom: 0;
}
