<div
  id="<%= dom_id(card_account) %>"
  class="<%= dom_class(card_account) %> row"
>

  <%= render "card_accounts/card_information", card_account: card_account %>

  <div class="col-xs-12 col-md-4">
    <%= yield %>
  </div>
</div><!-- .row -->

<hr>
