<%= form_tag(
  decline_card_account_path(card_rec),
  class: "decline_card_recommendation_form",
  style: "display:none;"
) do %>
  <div><%# wrapper which will have field_with_errors class added %>
    <%= text_field_tag(
      "card_account[decline_reason]",
      "",
      class: "input-sm card_account_decline_reason",
      id: "card_account_#{card_rec.id}_decline_reason",
      placeholder: "Why don't you want to apply for this card?",
    ) %>
  </div>

  <div class="btn-group">
    <%= button_tag(
      "Cancel",
      class: "card_recommendation_cancel_decline_btn btn btn-sm btn-default",
      id:    "card_recommendation_#{card_rec.id}_cancel_decline_btn",
    ) %>

    <%= button_tag(
      "Confirm",
      class: "card_recommendation_confirm_decline_btn btn btn-sm btn-danger2",
      id: "card_recommendation_#{card_rec.id}_confirm_decline_btn",
    ) %>
  </div>

  <span
    class="decline_card_recommendation_error_message"
    style="display:none;"
  >
    Please include a message
  </span>
<% end %>
