<div class="card_recommendation_actions">
  <div class="btn-group pull-right" role="group" >
    <%= apply_to_card_recommendation_btn(card_account) %>
    <%= decline_card_recommendation_btn(card_account) %>
  </div>
</div>
<%= render "card_accounts/decline_card_form", card_rec: card_account %>
