<div class="card_recommendation_actions">
  <%= apply_to_card_recommendation_btn(card_account) %>
  <%= decline_card_recommendation_btn(card_account) %>
</div>
<%= decline_card_recommendation_form(card_account) %>
