<div
  id="<%= dom_id(unknown_card_account) %>"
  class="<%= dom_class(unknown_card_account) %> row"
>

  <%= render "card_accounts/card_information", card_account: unknown_card_account %>

  <div class="col-xs-12 col-md-4">
  </div>
</div><!-- .row -->

<hr>
