<% provide :title, "My Cards" %>

<% if @new_recommendations.any? %>

  <h1>Recommended Cards</h1>

  <div id="card_recommendations">
    <% @new_recommendations.each do |rec| %>
      <%= render "card_accounts/recommendation", recommendation: rec %>
    <% end %>
  </div><!-- #card_recommendations -->

<% else %>
  Thanks for signing up to Abroaders! You will shortly receive your
  first card recommendation
<% end %>
