<% provide :title, "Add New Card" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <div class="row">
      <div class="col-xs-12">
        <h1>Add New Card</h1>
      </div>
    </div><!-- .row -->
  </div>

  <div class="panel-body">
    <%= render "card_accounts/form" %>
  </div>
</div>
