<% attr_prefix = main ? :main_passenger : :companion %>

<p class="help-block">
  <% if main %>
    Please add your name as it appears on your passport
  <% else %>
    Please add your travel companion's name as it appears on his/her passport
  <% end %>
</p>

<div class="row">
  <div class="form-group col-xs-12 col-md-4 required">
    <%= f.label "#{attr_prefix}_first_name" %>
    <%= f.text_field "#{attr_prefix}_first_name" %>
  </div>
</div>

<% if main %>
  <p>
    You signed up with the email address
    <b><%= current_account.email %></b>
  </p>
<% end %>
