<div class="passenger-contact-info col-xs-12 col-md-4">
  <% if local_assigns[:email] %>
    <%= render "accounts/email", account: passenger.account %>
  <% end %>

  <div class="survey-attr passenger-citizenship">
    <%= fa_icon "flag", class: "contact-info-label" %>
    &nbsp;
    <% key = if passenger.citizenship == "neither"
               "not_citizen"
             else 
               passenger.citizenship
             end %>
    <%= t("activerecord.attributes.passenger.citizenships.#{key}") %>
  </div>
</div>
