<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1 class="text-center">
     <strong>Card Recommendations</strong>
    </h1>

    <p class="text-center" style="font-weight: 200">
      <em>
        Hand-picked from a travel expert.
        <%= link_to_our_process_modal %>
      </em>
    </p>
  </div><!-- panel-heading -->

  <div id="card_recommendations" class="panel-body">
    <%= note %>

    <p>
      Your recommendations will expire after two weeks. Please click “Find My Card”
      below and complete the application on the bank's website. If you
      decide not to apply for a card, please click “No Thanks”.
    </p>

    <hr />

    <%= card_recommendations_for_each_person %>
  </div><!-- .panel-body -->
</div><!-- .hpanel -->

<%= our_process_modal %>
