<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1 class="text-center">
      <i class="fa fa-credit-card"></i>
      My Cards
      <%= btn_to_add_new %>
    </h1>
    <p class="text-center" style="font-weight: 200;"><em>These are the cards you currently have that you've added to Abroaders.</em></p>
  </div>

  <div id="card_accounts" class="panel-body">
    <% if card_accounts.any? %>
      <%= card_accounts_for_each_person %>
    <% else %>
      No cards!
    <% end %>
  </div><!-- #card_accounts.panel-body -->
</div>
