<div
  class="modal fade hmodal-info"
  id="our-process-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="color-line" style="background-color: #35a7ff"></div>
      <div class="modal-header text-center" style="background-color: #35a7ff;">
        <h2 style="color: #ffffff;">
          <strong>Our Card Recommendation Process</strong>
        </h2>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 text-center">
            <%= review_image %>

            <p class="lead" style="color: #35a7ff;">
              <strong>1. Review </strong>
            </p>
            <p>
              We consider your travel plans, regions youre interested in
              traveling to, your credit, which cards you currently have, and
              which points you have, if you happen to have any.
            </p>
          </div>

          <div class="col-md-4 text-center">
            <%= compare_image %>
            <p class="lead" style="color: #35a7ff;">
              <strong>2. Compare</strong>
            </p>

            <p>
              We track all of the top offers from all of the major banks and
              loyalty programs. Put simply, at this point, we select the card
              that's best for you.
            </p>
          </div>

          <div class="col-md-4 text-center">
            <%= recommend_image %>
            <p class="lead text-center2" style="color: #35a7ff;">
              <strong>3. Recommend</strong>
            </p>

            <p>
              We stand behind our recommendations, and that's why, unlike other
              websites, we actually explain why the card we recommend is best
              for you.
            </p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
