<h3><em><strong>What <%= recommended_by.first_name %> says</strong></em></h3>

<blockquote>
  <p><%= content %></p>

  <small></small>

  <%= recommended_by_basic %>
</blockquote>

<%= recommended_by_modal %>
