.card_recommendation_decline {
  bottom: 1px;
}

.card_recommendation_decline_reason_wrapper {
  width: 40%;
  display: inline-block;
}

.decline_card_recommendation_error_message {
  margin-left: 30px;
  font-size:   0.9em;
  line-height: 29px;
}
