<div class="hpanel hgreen">
  <div class="panel-body" style="background-color: #13ce66; color: #8492a5;">
    <h3 class="text-center" style="color: #ffffff;"><strong>Success </strong><i class="fa fa-thumbs-up" aria-hidden="true"></i></h3>
    <br>
    <p class="lead text-center" style="color: #ffffff;">
      You have linked your AwardWallet account to Abroaders.
    </p>
  </div>
</div>
