<% provide :title, "New Alliance" %>

<% content_for :header_panel do %>
  <div class="panel-body">
    <h1>New Alliance</h1>
  </div>
<% end %>

<%= render "shared/hpanel" do  %>
  <div class="panel-body">
    <%= render "admin_area/alliances/form", alliance: @alliance %>
  </div>
<% end %>

