<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1 style="color: #8492a5;">
      <i class=" fa fa-bar-chart"></i>
      <%= header_text %>
      <%= link_to_add_new_balance %>
    </h1>
  </div>

  <div class="person_balances panel-body">
    <%= rows %>
  </div><!-- .person_balances.panel-body -->
</div>
