<div id="unassigned_balances" class="hpanel">
  <div class="panel-heading hbuilt">
    <h1 style="color: #8492a5;">
      Other points
    </h1>
    <p>
      We detected these loyalty accounts in your AwardWallet account, but
      you haven't told us who they belong to on Abroaders. Click the
      'manage my AwardWallet settings' at the top of the page to assign
      them to a person on your Abroaders account.
    </p>
  </div>

  <div class="person_balances panel-body">
    <%= table %>
  </div><!-- .person_balances.panel-body -->
</div>
