<% provide :title, "Spending" %>
<% provide :no_sidebar, true %>

<div
  data-react-component="SpendingSurvey"
  data-account="<%= serialize(current_account) %>"
  data-submit-path="<%= spending_info_path %>"
></div>
