<div class='admin_area-banks-cell-filter_panel'>
    <label for="card_bank_filter_all">
      <%= check_box_tag :card_bank_filter_all, nil, true %>
      Toggle all banks
    </label>
    <hr>
    <%= check_box_tags %>
  </div>
