<div class='col-xs-12 col-md-6 filters-large-column'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      Bank
    </div>
    <div class='panel-body'>
      <label for="card_bank_filter_all">
        <%= check_box_tag :card_bank_filter_all, nil, true %>
        Toggle all
      </label>
      <hr>
      <%= check_box_tags %>
    </div>
  </div>
</div>
