<% provide :title, "Edit Card Offer" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>Edit Offer</h1>
  </div>

  <div class="panel-body">
    <%= cell(CardProduct::Cell::Summary, @model.product) %>

    <hr />

    <%= render 'form' %>

    <%= link_to "Show offer", admin_offer_path(@model) %>
  </div>
</div>
