<% provide :title, "New Offer" %>

<% present @card do |card| %>
  <h1><%= card.full_name(with_bank: true) %> - New Card Offer</h1>
<% end %>

<div class="row">
  <%= render "admin_area/offers/card", card: @card %>
</div>

<hr>

<div class="row">
  <%= render 'form' %>
</div>
