<% provide :title, "New Offer" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1><%= CardProduct::Cell::FullName.(@model.product, with_bank: true) %> - New Offer</h1>
  </div>

  <div class="panel-body">
    <%= cell(AdminArea::CardProducts::Cell::Summary, @model.product) %>

    <hr>

    <%= render 'form' %>
  </div>
</div>
