<% provide :title, "New Offer" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <% present @card do |card| %>
      <h1><%= card.full_name(with_bank: true) %> - New Card Offer</h1>
    <% end %>
  </div>

  <div class="panel-body">
    <div class="row">
      <%= render "admin_area/offers/card", card: @card %>
    </div>

    <hr>

    <%= render 'form' %>
  </div>
</div>
