<% provide :title, "New Offer" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <% present @product do |product| %>
      <h1><%= product.full_name(with_bank: true) %> - New Offer</h1>
    <% end %>
  </div>

  <div class="panel-body">
    <div class="row">
      <%= render "admin_area/offers/product", product: @product %>
    </div>

    <hr>

    <%= render 'form' %>
  </div>
</div>
