<% provide :title, "Edit Card ##{@card.id}" %>

<% content_for :header_panel do %>
  <div class="panel-body">
    <h1>Edit Card</h1>
  </div>
<% end %>

<%= render "shared/hpanel" do  %>
  <div class="panel-body">
    <%= render "form", card: @card %>
  </div>
<% end %>
