.edit_card_account {
  .card-account-card-name {
    font-size: 18px;
  }

  .card-account-bank {
    font-size: 16px;
  }

  .cards_survey_select {
    width: 50%;
    margin-top: 5px;
    float: right;
  }

  .card-info-label {
    padding-top: 10px;
  }
}
