.choose-card-form-wrapper {
  .card-box {
    background-color: rgb(247, 249, 250);;
    border: 1px solid rgb(228, 229, 231);
    height: 200px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    text-align: center;
    width: 100%;
  }

  .card-fullname {
    font-weight: 600;
  }

  .bank-section {
    .collapse-header {
      a, h2 {
        display: inline-block;
      }
    }

    .fa {
      font-size: 24px;
    }

    .fa.fa-sort-desc {
      vertical-align: super;
    }
  }
}

.card_account_form {
  .card-account-card-name {
    font-size: 18px;
  }

  .card-account-bank {
    font-size: 16px;
  }

  .cards_survey_select {
    width: 50%;
    margin-top: 5px;
    float: right;
  }

  .card-info-label {
    padding-top: 10px;
  }
}
