.home-airports-survey {
  .form-control {
    height: 100%;
  }

  .twitter-typeahead {
    .typeahead {
      padding: 10px;
      font-size: 18px;
    }

    .tt-menu {
      font-size: 16px;
    }
  }


  .greeting-message {
    text-align: center;
    h1 {
      font-weight: 700;
      color: #34495e;
    }
  }

  .saved-area {
    .title {
      font-size: 14px;
      font-weight: 700;
    }

    .airport-selected {
      text-align: center;

      .fa-times {
        cursor: pointer;
        padding-left: 5px;
      }

      .fa-check {
        padding-right: 5px;
        color: green;
      }
    }
  }

  .error-message, .info-message {
    display: none;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .panel-body {
    border-top: none;
    padding-bottom: 20px;
    padding-top: 0;
  }

  .panel-heading {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .btn-primary {
    padding: 15px;
  }
}
