[data-react-component=AccountPage] {
  font-size: 16px;

  .account-top-info {
    position: fixed;
    top: 62px;
    z-index: 1;

    // 180px = sidebar width
    // FIXME is there a better way of doing this?
    width: calc(100% - 180px);
    .page-small & {
      width: 100%;
    }

    p {
      font-size: 16px;
    }

    .people-names {
      input[type="radio"] {
        height: 30px;
      }

      span {
        font-size: 28px;
        font-weight: 200;
      }
    }

    .has-ein {
      position: relative;
      bottom: 1px;
      left: 9px;
      display: inline-block;
      font-size: 0.7em;
      font-style: italic;
    }

    .table.table-condensed {
      margin-bottom: 0;

      td:first-child {
        font-weight: bold;
      }
    }
  }

  .header-row {
    border-bottom: 1px solid black;

    .header {
      font-weight: 700;
      text-align: center;
    }
  }

  .alliance-row {
    border-bottom: 1px solid black;

    .title {
      font-weight: 700;
      padding-left: 0;
    }

    .currency-row {
      border-bottom: 1px solid black;

      &:last-child {
        border: none;
      }

      .currency, .balance {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
      }

      .currency {
        width: 40%;

        &.without-companion {
          width: 70%;
        }
      }

      .balance {
        width: 30%;
        text-align: center;
      }
    }
  }

  .section-title {
    font-size: 16px;
    text-decoration: underline;
  }

  .travel-plan-info {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid black;

    .type {
      text-transform: capitalize;
    }
  }

  .filters-area {
    .filters-large-column {
      @media (min-width: 1200px) {
        float: left;
        width: 20%;
        position: relative;
        min-height: 1px;
        padding: 1px;
      }

      label {
        display: block;
        cursor: pointer;
      }

      .panel-heading {
        padding: 5px 15px;
      }

      .panel-body {
        height: 300px;
        overflow-y: auto;
      }
    }

    .personal-business-filter {
      margin: 10px -15px;

      label {
        cursor: pointer;
      }

      label:last-of-type {
        margin-left: 10px;
      }
    }
  }

  .table-wrapper {
    height: 300px;
    overflow: scroll;

    .card-accounts-table {
      font-size: 13px;

      th {
        font-weight: 400;
        outline: none;

        &.reactable-header-sort-desc, &.reactable-header-sort-asc {
          font-weight: 700;
        }
      }
    }

    .offers-table {
      font-size: 13px;

      th {
        font-weight: 400;
      }

      .admin-recommend-card {
        background-color: #34495E;
        color: #f0f0f0;
      }

      .link-td {
        color: #34495e;
      }
    }
  }
}
