@import 'colors';
$color: $blue;

// From http://projects.lukehaas.me/css-loaders/
.LoadingSpinner {
  font-size: 3px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em $blue, 2em -2em 0 0em $blue, 3em 0 0 -1em $blue, 2em 2em 0 -1em $blue, 0 3em 0 -1em $blue, -2em 2em 0 -1em $blue, -3em 0 0 -1em $blue, -2em -2em 0 0 $blue;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 $blue, 2em -2em 0 0.2em $blue, 3em 0 0 0 $blue, 2em 2em 0 -1em $blue, 0 3em 0 -1em $blue, -2em 2em 0 -1em $blue, -3em 0 0 -1em $blue, -2em -2em 0 -1em $blue;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em $blue, 2em -2em 0 0 $blue, 3em 0 0 0.2em $blue, 2em 2em 0 0 $blue, 0 3em 0 -1em $blue, -2em 2em 0 -1em $blue, -3em 0 0 -1em $blue, -2em -2em 0 -1em $blue;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em $blue, 2em -2em 0 -1em $blue, 3em 0em 0 0 $blue, 2em 2em 0 0.2em $blue, 0 3em 0 0em $blue, -2em 2em 0 -1em $blue, -3em 0em 0 -1em $blue, -2em -2em 0 -1em $blue;
  }
  50% {
    box-shadow: 0 -3em 0 -1em $blue, 2em -2em 0 -1em $blue, 3em 0 0 -1em $blue, 2em 2em 0 0em $blue, 0 3em 0 0.2em $blue, -2em 2em 0 0 $blue, -3em 0em 0 -1em $blue, -2em -2em 0 -1em $blue;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em $blue, 2em -2em 0 -1em $blue, 3em 0 0 -1em $blue, 2em 2em 0 -1em $blue, 0 3em 0 0 $blue, -2em 2em 0 0.2em $blue, -3em 0 0 0 $blue, -2em -2em 0 -1em $blue;
  }
  75% {
    box-shadow: 0em -3em 0 -1em $blue, 2em -2em 0 -1em $blue, 3em 0em 0 -1em $blue, 2em 2em 0 -1em $blue, 0 3em 0 -1em $blue, -2em 2em 0 0 $blue, -3em 0em 0 0.2em $blue, -2em -2em 0 0 $blue;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 $blue, 2em -2em 0 -1em $blue, 3em 0 0 -1em $blue, 2em 2em 0 -1em $blue, 0 3em 0 -1em $blue, -2em 2em 0 0 $blue, -3em 0em 0 0 $blue, -2em -2em 0 0.2em $blue;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em $blue, 2em -2em 0 0em $blue, 3em 0 0 -1em $blue, 2em 2em 0 -1em $blue, 0 3em 0 -1em $blue, -2em 2em 0 -1em $blue, -3em 0 0 -1em $blue, -2em -2em 0 0 $blue;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 $blue, 2em -2em 0 0.2em $blue, 3em 0 0 0 $blue, 2em 2em 0 -1em $blue, 0 3em 0 -1em $blue, -2em 2em 0 -1em $blue, -3em 0 0 -1em $blue, -2em -2em 0 -1em $blue;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em $blue, 2em -2em 0 0 $blue, 3em 0 0 0.2em $blue, 2em 2em 0 0 $blue, 0 3em 0 -1em $blue, -2em 2em 0 -1em $blue, -3em 0 0 -1em $blue, -2em -2em 0 -1em $blue;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em $blue, 2em -2em 0 -1em $blue, 3em 0em 0 0 $blue, 2em 2em 0 0.2em $blue, 0 3em 0 0em $blue, -2em 2em 0 -1em $blue, -3em 0em 0 -1em $blue, -2em -2em 0 -1em $blue;
  }
  50% {
    box-shadow: 0 -3em 0 -1em $blue, 2em -2em 0 -1em $blue, 3em 0 0 -1em $blue, 2em 2em 0 0em $blue, 0 3em 0 0.2em $blue, -2em 2em 0 0 $blue, -3em 0em 0 -1em $blue, -2em -2em 0 -1em $blue;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em $blue, 2em -2em 0 -1em $blue, 3em 0 0 -1em $blue, 2em 2em 0 -1em $blue, 0 3em 0 0 $blue, -2em 2em 0 0.2em $blue, -3em 0 0 0 $blue, -2em -2em 0 -1em $blue;
  }
  75% {
    box-shadow: 0em -3em 0 -1em $blue, 2em -2em 0 -1em $blue, 3em 0em 0 -1em $blue, 2em 2em 0 -1em $blue, 0 3em 0 -1em $blue, -2em 2em 0 0 $blue, -3em 0em 0 0.2em $blue, -2em -2em 0 0 $blue;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 $blue, 2em -2em 0 -1em $blue, 3em 0 0 -1em $blue, 2em 2em 0 -1em $blue, 0 3em 0 -1em $blue, -2em 2em 0 0 $blue, -3em 0em 0 0 $blue, -2em -2em 0 0.2em $blue;
  }
}
