<table id="<%= html_id %>" class="offer_alternatives_table table table-striped">
  <thead>
    <th>ID</th>
    <th>Partner</th>
    <th>Value</th>
    <th>Conditions</th>
    <th>Cost</th>
    <th>Reviewed</th>
    <th><!-- URL --></th>
    <th>Active recs</th>
  </thead>
  <tbody>
    <%= table_rows %>
  </tbody>
</table>
