<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1><%= title %></h1>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table
        class="table table-striped"
        cellpadding="1"
        cellspacing="1"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Bank</th>
            <th>Partner</th>
            <th>Points awarded</th>
            <th>Spend</th>
            <th>Cost</th>
            <th>Days</th>
            <th>Live</th>
            <th>Reviewed</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= table_rows %>
        </tbody>
      </table>
    </div>
  </div>
</div>
