<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>Review Live Offers</h1>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table
        class="admin_review_offers table table-striped"
        cellpadding="1"
        cellspacing="1"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Details</th>
            <th>Cost</th>
            <th>Reviewed</th>
            <th>Active Recs</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= table_rows %>
        </tbody>
      </table>
    </div>
  </div>
</div>
