<li class="<%= html_classes %>" >
  <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown" aria-expanded="true">
    <i class="pe-7s-mail"></i>
    <%= new_notifications_label %>
  </a>
  <ul class="dropdown-menu hdropdown animated flipInX">
    <%= title %>
    <%= unseen_notifications %>
  </ul>
</li>
