<div class="modal fade hmodal-info" id="<%= id %>" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="color-line" style="background-color: #35a7ff;"></div>
      <div class="modal-header">
        <h4 class="modal-title text-center" style="color: #35a7ff;">
          <strong>What would you like to do?</strong>
        </h4>
      </div>

      <div class="modal-body">
        <%= choices %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
