<footer class="footer hidden-xs">
  <span class="pull-right">
    <%= link_to 'Terms and Conditions', terms_and_conditions_path %> |
    <%= link_to 'Privacy Policy', privacy_policy_path %>
  </span>
  © Abroaders <%= Time.zone.today.year %>
</footer>
<div class="footer-spacer"></div>
