<%= form_tag do %>
  <div class="panel-body">
    <%= hidden_field :account, :type, value: :solo %>

    <h2>
      <i class="fa fa-user"> </i>
      &nbsp;
      Solo Earning
    </h2>

    <p>
      Abroaders will help you maximize the points you earn with your
      regular monthly spending.
    </p>

    <button class="btn btn-primary">
      Sign up for solo earning
    </button>
  </div>
<% end %>
