#account_type_forms {
  .account_type_select_header {
    margin-bottom: 21px;
    text-align: center;
  }

  .account_type_form {
    .panel-body {
      background-color: #f6f9fb;
    }

    h3 {
      margin-bottom: 22px;
    }

    p {
      margin-bottom: 15px;
    }

    button, input[type=submit] {
      width: 100%;
    }

    text-align: center;
  }
}
