#account_type_forms {
  .account_type_select_header {
    margin-bottom: 21px;
    text-align: center;
  }

  .account_type_form {
    h2 {
      margin-bottom: 22px;
    }

    p {
      margin-bottom: 26px;
    }

    p.help-block {
      margin-bottom: 10px;
    }

    button, input[type=submit] {
      width: 100%;
    }

    text-align: center;
  }
}
