.admin-navbar {
  background-color: #8A1414;

  .navbar-nav>li>a {
    &:hover, &:focus {
      background-color: #9C4949;
    }
  }
}


.navbar-default .navbar-nav>li.unseen_notifications>a {
  &, &.open {
    background-color: #8A1414;

    &:hover, &:focus {
      background-color: #9C4949;
    }
  }
}
