@import 'colors';

// Override the default alert styles provided by bootstrap
.alert {
  border-radius: 2px;
  border: 1px solid $gray;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 25px;
  padding: 20px;
  position: relative;
  text-align: center;

  .hpanel & {
    margin-bottom: 0;
    text-align: left;
    font-size: 13px;
    padding: 15px;
  }

  &.alert-success {
    background-color: $green;
  }

  &.alert-info {
    background-color: $blue;
  }

  &.alert-warning {
    background-color: $orange;
  }

  &.alert-danger {
    background-color: $red;
  }
}


@media (min-width: 768px) {
  .alert {
    font-size: 21px;
  }
}
