#admin_cards_table {
  th, td {
    &.is-active {
      width: 110px;

      input[type=checkbox] {
        cursor: pointer;
      }

      .active-status {
        cursor: pointer;
      }
    }
  }
}
