$blue:   #35a7ff;
$gray:   #e4e5e7;
$green:  #47da95;
$orange: #fca17d;
$red:    #ff5964;

// The below colors were taken by plugging the above 'base' colors into
// http://paletton.com/, on the 'monochromatic' setting

$lighterBlue: #8bccff;
$lightBlue: #5eb9ff;
$darkBlue: #0e96ff;
$darkerBlue: #018efa;

$lighterRed: #ffbec2;
$lightRed: #ff858e;
$darkRed: #ff2d3d;
$darkerRed: #ff0013;

$lighterGreen: #a1f3cc;
$lightGreen: #6ee7ad;
$darkGreen: #26cc7c;
$darkerGreen: #00bc62;

$lighterOrange: #ffdacc;
$lightOrange: #ffbea4;
$darkOrange: #d87b3f;
$darkerOrange: #b7522a;
