$darkBlue: #34495e;

// Prevent the navbar from obscuring the main content when the sidebar
// is not present
.wrapper {
  position: relative;
  top: 62px;
}

#logo {
  border-right: 1px solid #e4e5e7;
}

.header-link {
  border-left: none;
}

.navbar-nav {
  > li {
    &.text {
      height: 52px;
      line-height: 52px;
      padding-left:  10px;
      padding-right: 10px;
    }

    > a.text {
      padding-left:  -10px;
      padding-right: -10px;
      font-size: 13px;
    }
  }
}

.login-container {
  padding-top: 30px;
}

footer.footer {
  position: fixed;
  z-index: 1000;
}

// Hacky solution to prevent the footer from overlapping any real content:
.footer-spacer {
  height: 39px;
}

.well .input-group-addon {
  background-color: $darkBlue;
  color: white;
}

.form-group.required label:after, .required-explanation:before {
  content: "*";
  color: $darkBlue;
}

.required-explanation {
  font-style: italic;
}

.field_with_errors {
  input {
    border-color: #d9534f !important;
  }
}


// SURVEY //

.card-survey-checkbox {
  background-color: rgb(247, 249, 250);;
  border: 1px solid rgb(228, 229, 231);
  cursor: pointer;
  height: 395px;
  margin-right: 10px;
  margin-bottom: 20px;
  // margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  text-align: center;
  // width: 210px;

  .input-lg {
    height: 25px;
  }

  hr {
    margin: 12px 0 9px;
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.opened {
    background-color: white;
  }

  * {
    cursor: pointer;
  }

  label {
    font-size: inherit;
  }

  img {
    margin-bottom: 4px;
  }

  .cards_survey_card_account_closed {
    height: 25px;
    position: relative;
    left: 5px;
    top: 7px;
  }

}

.cards_survey_card_account_opened_at_wrapper, .cards_survey_card_account_closed_wrapper {
  display: none;

  label {
    font-size: 0.8em;
    font-weight: normal;
  }

  .card-survey-checkbox.opened & {
    display: block;
  }
}

.cards_survey_card_account_closed_at_wrapper {
  display: none;

  label {
    font-size: 0.8em;
    font-weight: normal;
  }

  .card-survey-checkbox.opened.closed & {
    display: block;
  }
}


.cards_survey_month {
  width: 39%;
  float:left;
  margin-top: 5px;
}

.cards_survey_year {
  width: 59%;
  float:right;
  margin-top: 5px;
}

// SURVEY: balances

.balances_survey {
  input[type='checkbox'] {
    margin-top: -13px;
  }

  label {
    font-size: 1.1em;
  }

  .currency_balance_value {
    display: inline-block;
    width: 80%;
  }
}

// SPENDING INFO

.spending_info > .table td:first-child {
  font-weight: bold;
}

.has-ein {
  position: relative;
  bottom: 1px;
  left: 9px;
  display: inline-block;
  font-size: 0.7em;
  font-style: italic;
}

// ???? //

.card_account .card_account_offer {
  font-size: 0.8em;
}

// ADMIN //

#logo.admin-navbar {
  background-color: #8A1414;

  > a > span {
    color: white;
  }
}

// offers

.card-offer-ctrls {
  min-width: 90px;
}

// card recommendations

tr.admin_recommend_card {
  background-color: #34495E;
  color: #f0f0f0;
}

.admin_recommend_offer:first-child > td {
  border-top: none !important;
}

.admin-card-recommendation-table {
  // TODO make table sortable again (maybe)
  // th {
  //   cursor: pointer;

  //   &:not(.headerSortDown) .fa-sort-asc {
  //     display: none;
  //   }

  //   &:not(.headerSortUp) .fa-sort-desc {
  //     display: none;
  //   }
  // }

  th, td {

    &.card-identifier {
      width: 120px;
    }

    &.card-name {
      width: 40%;
    }

    &.card-bank-name {
      width: 200px;
    }

    &.card-bp {
      width: 100px;
    }

    &.card-currency {
      min-width: 180px;
    }
  }
}

tr.admin_recommend_card_offers {
  margin-bottom: 0 !important;

  > td {
    padding: 0 !important;
  }
}

td.offer-identifier {
  width: 15%;
}

td.offer-points-awarded {
  width: 15%;
}

td.offer-spend {
  width: 15%;
}

td.offer-cost {
  width: 15%;
}

td.offer-days {
  width: 15%;
}

.cancel_recommend_offer_btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.confirm_recommend_offer_btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}


// BALANCES

.editing_balance_error_msg {
  color: #a94442;
  display: inline-block;
  margin-left: 6px;
}

// OFFERS

.admin_review_offers {
  .offer_card_name {
    width: 200px;
  }
}
