@import 'colors';

// Prevent the navbar from obscuring the main content when the sidebar
// is not present
.wrapper {
  position: relative;
  top: 62px;
}

// Override the original theme so that certain pages can have no sidebar and
// the main body of the page won't have the left padding
#wrapper {
  background-color: #fff;
  margin-left: 0;

  &.wrapper-with-sidebar {
    margin-left: 179px;
  }
}

#logo {
  border-right: 1px solid $lightGray;
}

.header-link {
  border-left: none;
}

#header {
  height: 56px;
}

.fixed-navbar #wrapper {
  top: 56px;
}

#menu {
  top: 55px;
}

.navbar-nav {
  > li {
    &.text {
      height: 52px;
      line-height: 52px;
      padding-left:  10px;
      padding-right: 10px;
    }

    > a.text {
      padding-left:  -10px;
      padding-right: -10px;
      font-size: 13px;
    }
  }
}

.login-container {
  padding-top: 30px;
}

footer.footer {
  position: fixed;
  z-index: 1000;
}

// Hacky solution to prevent the footer from overlapping any real content:
.footer-spacer {
  height: 39px;
}

.well .input-group-addon {
  background-color: $darkBlue;
  color: white;
}

// previously we used a CSS class called 'required'. But simple_form adds a
// class called 'required' and its own 'required star', meaning that
// if we use our own class called 'required', forms created with simple_form
// will have TWO required stars. So rename the 'required' class to 'required-abr'
// and let simple_form use 'required'
.form-group.required-abr label:after, .required-explanation:before {
  content: "*";
  color: $darkBlue;
}

.required-explanation {
  font-style: italic;
}

.field_with_errors {
  input {
    border-color: #d9534f !important;
  }
}


// SURVEY //

.card-survey-checkbox {
  background-color: rgb(247, 249, 250);;
  border: 1px solid rgb(228, 229, 231);
  cursor: pointer;
  height: 395px;
  margin-right: 10px;
  margin-bottom: 20px;
  // margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  text-align: center;
  // width: 210px;

  .input-lg {
    height: 25px;
  }

  hr {
    margin: 12px 0 9px;
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.opened {
    background-color: white;
  }

  * {
    cursor: pointer;
  }

  label {
    font-size: inherit;
  }

  img {
    margin-bottom: 4px;
  }

  .cards_survey_card_closed {
    height: 25px;
    position: relative;
    left: 5px;
    top: 7px;
  }

}

.cards_survey_card_opened_on_wrapper, .cards_survey_card_closed_wrapper {
  display: none;

  label {
    font-size: 0.8em;
    font-weight: normal;
  }

  .card-survey-checkbox.opened & {
    display: block;
  }
}

.cards_survey_card_closed_on_wrapper {
  display: none;

  label {
    font-size: 0.8em;
    font-weight: normal;
  }

  .card-survey-checkbox.opened.closed & {
    display: block;
  }
}


.cards_survey_month {
  width: 39%;
  float:left;
  margin-top: 5px;
}

.cards_survey_year {
  width: 59%;
  float:right;
  margin-top: 5px;
}

.card-survey-form-wrapper {
  .bank-section {
    .collapse-header {
      a, h2 {
        display: inline-block;
      }
    }

    .fa {
      font-size: 24px;
    }

    .fa.fa-sort-desc {
      vertical-align: super;
    }
  }

  .helper-message {
    font-size: 14px;
  }
}

// SURVEY: balances

.balances_survey {
  input[type='checkbox'] {
    margin-top: -13px;
  }

  label {
    font-size: 1.1em;
  }

  .currency_balance_value {
    display: inline-block;
    width: 80%;
  }
}

// SPENDING INFO

.has-ein {
  position: relative;
  bottom: 1px;
  left: 9px;
  display: inline-block;
  font-size: 0.7em;
  font-style: italic;
}

// ???? //

.card .card_offer {
  font-size: 0.8em;
}

// ADMIN //

#logo.admin-navbar {
  background-color: #8A1414;

  > a > span {
    color: white;
  }
}

// offers

.card-offer-ctrls {
  min-width: 90px;
}

// card recommendations

.recommendation-notes-date {
  width: auto;
}


td.offer-identifier {
  width: 15%;
}

td.offer-points-awarded {
  width: 15%;
}

td.offer-spend {
  width: 15%;
}

td.offer-cost {
  width: 15%;
}

td.offer-days {
  width: 15%;
}

.cancel_recommend_offer_btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.confirm_recommend_offer_btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}


// BALANCES

.editing_balance_error_msg {
  color: #a94442;
  display: inline-block;
  margin-left: 6px;
}

// OFFERS

.admin_review_offers {
  .offer_card_name {
    width: 200px;
  }

  .offer_verification_ctrls {
    width: 110px;
  }
}

// PEOPLE

@media (min-width: 1200px) {
  #card-recommendation-filters {
    .filters-large-column {
      float: left;
      width: 20%;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;

      label {
        display: block;
      }
    }
  }
}

// READINESS

.datepicker {
  z-index: 1001 !important; // must be higher than navbar
}

.SpanWithTooltip {
  color: #34495e;
  text-decoration: underline;
}

.panel-primary {
  border-color: $darkerBlue;

  > .panel-heading {
    color: #fff;
    background-color: $darkerBlue;
    border-color: $darkerBlue;
  }
}
