$darkBlue: #34495e;

.navbar-nav > li > a.text {
  font-size: 13px;
}

.login-container {
  padding-top: 30px;
}

.footer {
  position: fixed;
}

// Hacky solution to prevent the footer from overallping any real content:
.footer-spacer {
  height: 39px;
}

.well .input-group-addon {
  background-color: $darkBlue;
  color: white;
}

.form-group.required label:after, .required-explanation:before {
  content: "*";
  color: $darkBlue;
}

.required-explanation {
  font-style: italic;
}

.field_with_errors {
  input {
    border-color: #d9534f;
  }
}

footer.footer {
  z-index: 1000;
}

// SURVEY //

.card-survey-checkbox {
  background-color: rgb(247, 249, 250);;
  border: 1px solid rgb(228, 229, 231);
  cursor: pointer;
  height: 395px;
  margin-left:  10px;
  margin-right: 10px;
  margin-bottom: 20px;
  // margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  text-align: center;
  // width: 210px;

  .input-lg {
    height: 25px;
  }

  hr {
    margin: 12px 0 9px;
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.opened {
    background-color: white;
  }

  * {
    cursor: pointer;
  }

  label {
    font-size: inherit;
  }

  img {
    margin-bottom: 4px;
  }

  .cards_survey_card_account_closed {
    height: 25px;
    position: relative;
    left: 5px;
    top: 7px;
  }

}

.cards_survey_card_account_opened_at_wrapper, .cards_survey_card_account_closed_wrapper {
  display: none;

  label {
    font-size: 0.8em;
    font-weight: normal;
  }

  .card-survey-checkbox.opened & {
    display: block;
  }
}

.cards_survey_card_account_closed_at_wrapper {
  display: none;

  label {
    font-size: 0.8em;
    font-weight: normal;
  }

  .card-survey-checkbox.opened.closed & {
    display: block;
  }
}


.cards_survey_month {
  width: 39%;
  float:left;
  margin-top: 5px;
}

.cards_survey_year {
  width: 59%;
  float:right;
  margin-top: 5px;
}

// SURVEY: balances

.balances_survey {
  input[type='checkbox'] {
    margin-top: -5px;
  }

  label {
    width: 45%;
    font-size: 1.1em;
  }

  .currency {
    height: 40px;
    line-height: 40px;
  }

  .currency_balance_value {
    display: inline-block;
    width: 230px;
  }
}

// ???? //

.card_account .card_account_offer {
  font-size: 0.8em;
}
