.form-group.required label:after, .required-explanation:before {
  content: "*";
  color: #E4DA83;
}

.required-explanation {
  font-style: italic;
}

.field_with_errors {
  input {
    border-color: #d9534f;
  }
}
