.readiness-survey {
  form {
    text-align: center;
  }

  .form-control {
    height: 100%;
  }

  @media(min-width: 768px) {
    .helper-text {
      width: 50%;
      margin: 0 auto;
    }
  }

  .panel-body .helper-text {
    margin-bottom: 15px;
  }

  .greeting-message {
    text-align: center;
    h1 {
      font-weight: 700;
      color: #34495e;
    }
  }

  .panel-body {
    border-top: none;
    padding-bottom: 20px;
    padding-top: 0;
    text-align: center;
  }

  .panel-heading {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main-row {
    margin-bottom: 25px;

    .top-buttons-row {
      margin-bottom: 10px;
    }

    .btn-group {

      &.both-people {
        .col-md-6 {
          padding: 0;
        }

        label.btn {
          width: 100%;
        }
      }

      label.btn {
        font-size: 18px;
      }

      .btn input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
      }

      .btn.active {
        background-color: #62cb31;
        border-color: #62cb31;

        span.fa {
          color: white;
        }
      }
    }

    .unreadiness_reason_form_group {
      display: none;
      margin: 10px auto;
    }
  }

  .btn-primary {
    padding: 15px;
    background-color: #337ab7;
  }

  @media(max-width: 1024px) {
    .main-row .btn-group {
      width: 100%;
      label.btn {
        font-size: 14px;
        width: 100%;
      }
    }

    .btn-primary {
      font-size: 14px;
    }
  }
}
