.spending-info-label {
  font-weight: bold;
}

.spending-info-business-spending .has-ein {
  position: relative;
  bottom: 1px;
  left: 9px;
  display: inline-block;
  font-size: 0.7em;
  font-style: italic;
}
