.travel-plan-destination-form-group {
  position: relative;

  .loading-spinner {
    position: absolute;
    right: 34px;
    top: 43px;
  }
}


#add-flight-btn {
  margin-top: 25px;
}

.user_travel_plans {
  .travel_plan_type {
    font-weight: bold;
  }

  .travel_plan {
    margin-bottom: 1em;
  }
}
