.account_travel_plans {
  .travel_plan_type {
    font-weight: bold;
  }

  .travel_plan {
    margin-bottom: 1em;
  }
}

.type-radio {
  padding-bottom: 15px;

  &:not(:first-child) {
    padding-left: 20px;
  }
}

@media (max-width: 667px) {
  .travel-plan-icon-xs {
    padding: 9px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    vertical-align: top;
  }

  .travel-plan-field-xs {
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .without-border-xs {
    border-left: 0;
    border-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .left-border-radius-xs {
    border-left: 1px solid #CCCCCC;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .right-border-radius-xs {
    border-right: 1px solid #CCCCCC;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .travel-plan-input-group {
    font-size: 0;
  }

  .from-to-line, .depart-return-line {
    display: flex;
  }

  .passengers-line {
    display: flex;
  }

  .travel-plan-from-field {
    @extend .travel-plan-field-xs;
    @extend .without-border-xs;
    @extend .left-border-radius-xs;

    display: inline-block;
  }

  .travel-plan-icon-plane {
    @extend .travel-plan-icon-xs;

    display: inline-block;
  }

  .travel-plan-to-field {
    @extend .travel-plan-field-xs;
    @extend .without-border-xs;
    @extend .right-border-radius-xs;

    display: inline-block;
  }

  .travel-plan-icon-depart {
    @extend .travel-plan-icon-xs;
    @extend .left-border-radius-xs;

    display: inline-block;
  }

  .travel-plan-depart-field {
    @extend .travel-plan-field-xs;
    @extend .without-border-xs;

    display: inline-block;
  }

  .travel-plan-icon-return {
    @extend .travel-plan-icon-xs;

    display: inline-block;
  }

  .travel-plan-return-field {
    @extend .travel-plan-field-xs;
    @extend .without-border-xs;
    @extend .right-border-radius-xs;

    display: inline-block;
  }

  .travel-plan-icon-passengers {
    @extend .travel-plan-icon-xs;
    @extend .left-border-radius-xs;

    display: inline-block;
  }

  .travel-plan-passengers-field {
    @extend .travel-plan-field-xs;
    @extend .without-border-xs;
    @extend .right-border-radius-xs;

    display: inline-block;
  }

  button[type=submit] {
    margin-bottom: 5px;
  }
}

@media (min-width: 668px) and (max-width: 991px) {
  .travel-plan-icon-sm {
    padding: 9px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    vertical-align: top;
  }

  .travel-plan-field-sm {
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .without-border-sm {
    border-left: 0;
    border-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .left-border-radius-sm {
    border-left: 1px solid #CCCCCC;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .right-border-radius-sm {
    border-right: 1px solid #CCCCCC;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .travel-plan-input-group {
    font-size: 0;
  }

  .from-to-line {
    display: flex;
  }

  .depart-return-passengers-line {
    display: flex;
  }

  .depart-return-line {
    display: inline-flex;
    flex-basis: 70%;
  }

  .passengers-line {
    display: inline-flex;
    flex-basis: 30%;
  }

  .travel-plan-from-field {
    @extend .travel-plan-field-sm;
    @extend .without-border-sm;
    @extend .left-border-radius-sm;

    display: inline-block;
  }

  .travel-plan-icon-plane {
    @extend .travel-plan-icon-sm;

    display: inline-block;
  }

  .travel-plan-to-field {
    @extend .travel-plan-field-sm;
    @extend .without-border-sm;
    @extend .right-border-radius-sm;

    display: inline-block;
  }

  .travel-plan-icon-depart {
    @extend .travel-plan-icon-sm;
    @extend .left-border-radius-sm;

    display: inline-block;
  }

  .travel-plan-depart-field {
    @extend .travel-plan-field-sm;
    @extend .without-border-sm;

    display: inline-block;
  }

  .travel-plan-icon-return {
    @extend .travel-plan-icon-sm;

    display: inline-block;
  }

  .travel-plan-return-field {
    @extend .travel-plan-field-sm;
    @extend .without-border-sm;

    display: inline-block;
  }

  .travel-plan-icon-passengers {
    @extend .travel-plan-icon-sm;

    display: inline-block;
  }

  .travel-plan-passengers-field {
    @extend .travel-plan-field-sm;
    @extend .without-border-sm;
    @extend .right-border-radius-sm;

    display: inline-block;
  }

  button[type=submit] {
    margin-bottom: 5px;
  }
}

@media (min-width: 992px) {
  .travel-plan-icon-md-lg {
    padding: 9px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    vertical-align: top;
  }

  .travel-plan-field-md-lg {
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .without-border-md-lg {
    border-left: 0;
    border-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .left-border-radius-md-lg {
    border-left: 1px solid #CCCCCC;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .right-border-radius-md-lg {
    border-right: 1px solid #CCCCCC;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .travel-plan-input-group {
    font-size: 0;
    display: flex;
  }

  .from-to-line {
    display: inline-flex;
    flex-basis: 40%;
  }

  .depart-return-passengers-line {
    display: inline-flex;
    flex-basis: 60%;
  }

  .depart-return-line {
    display: inline-flex;
    flex-basis: 60%;
  }

  .passengers-line {
    display: inline-flex;
    flex-basis: 40%;
  }

  .travel-plan-from-field {
    @extend .travel-plan-field-md-lg;
    @extend .without-border-md-lg;
    @extend .left-border-radius-md-lg;

    display: inline-block;
  }

  .travel-plan-icon-plane {
    @extend .travel-plan-icon-md-lg;

    display: inline-block;
  }

  .travel-plan-to-field {
    @extend .travel-plan-field-md-lg;
    @extend .without-border-md-lg;

    display: inline-block;
  }

  .travel-plan-icon-depart {
    @extend .travel-plan-icon-md-lg;

    display: inline-block;
  }

  .travel-plan-depart-field {
    @extend .travel-plan-field-md-lg;
    @extend .without-border-md-lg;

    display: inline-block;
  }

  .travel-plan-icon-return {
    @extend .travel-plan-icon-md-lg;

    display: inline-block;
  }

  .travel-plan-return-field {
    @extend .travel-plan-field-md-lg;
    @extend .without-border-md-lg;

    display: inline-block;
  }

  .travel-plan-icon-passengers {
    @extend .travel-plan-icon-md-lg;

    display: inline-block;
  }

  .travel-plan-passengers-field {
    @extend .travel-plan-field-md-lg;
    @extend .without-border-md-lg;
    @extend .right-border-radius-md-lg;

    display: inline-block;
  }
}
