<div class="col-xs-12 col-md-6 filters-large-column">
  <div class="panel panel-primary">
    <div class="panel-heading">Bank</div>
    <div class="panel-body">
      <%= yield %>
    </div>
  </div>
</div>
