<% provide :title, @person.first_name %>

<% present @person do |person| %>
  <% content_for :header_panel do %>
    <div class="panel-body">
      <h1><%= person.first_name %></h1>
      <p>
        <%= person.email %> -
        Account created on <%= person.signed_up %>
      </p>
    </div>
  <% end %>

  <%= render(
    "admin_area/people/person",
    person: person,
    balances:             @balances,
    spending_info:        @spending_info,
    travel_plans:         @travel_plans,
    card_recommendations: @card_recommendations,
    cards_from_survey:    @cards_from_survey,
  ) %>
<% end %>
