<div class="form-group col-xs-12">
  <h3>How much do you spend per month?</h3>

  <%= help_text %>

  <div class="input-group">
    <div class="input-group-addon">
      $
    </div>
    <%= field %>
  </div>
</div>
