<!-- demo page to display what various Bootstrap components look like in this theme -->

<h1>Styles</h1>

This (very incomplete) page gives a brief overview of our styles and the HTML
elements available (mostly from Bootstrap, but we and the theme we bought
override and/or tweak many of the default Bootstrap styles.)

<h2>Buttons</h2>

<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>

<br>
<br>
<%# output it via ERB to automatically escape the HTML chars: %>
<pre><%= %[
<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>
] %></pre>

<p>Here's what they look like when disabled:</p>

<button type="button" disabled class="btn btn-default">Default</button>
<button type="button" disabled class="btn btn-primary">Primary</button>
<button type="button" disabled class="btn btn-success">Success</button>
<button type="button" disabled class="btn btn-warning">Warning</button>
<button type="button" disabled class="btn btn-danger">Danger</button>
<button type="button" disabled class="btn btn-link">Link</button>

<p>Bootstrap also has a class <code>btn-info</code>, but we don't use it</p>

<p>And with an additional class <code>btn-outline</code>:</p>

<button type="button" class="btn btn-outline btn-default">Default</button>
<button type="button" class="btn btn-outline btn-primary">Primary</button>
<button type="button" class="btn btn-outline btn-success">Success</button>
<button type="button" class="btn btn-outline btn-warning">Warning</button>
<button type="button" class="btn btn-outline btn-danger">Danger</button>

<br>
<br>

<p>Or with <code>btn-circle</code>:</p>

<button type="button" class="btn btn-circle btn-default">De</button>
<button type="button" class="btn btn-circle btn-primary">P</button>
<button type="button" class="btn btn-circle btn-success">S</button>
<button type="button" class="btn btn-circle btn-warning">W</button>
<button type="button" class="btn btn-circle btn-danger">Da</button>

<br><br>

<p>Or with both:</p>

<button type="button" class="btn btn-outline btn-circle btn-default">De</button>
<button type="button" class="btn btn-outline btn-circle btn-primary">P</button>
<button type="button" class="btn btn-outline btn-circle btn-success">S</button>
<button type="button" class="btn btn-outline btn-circle btn-warning">W</button>
<button type="button" class="btn btn-outline btn-circle btn-danger">Da</button>

<br><br>

<p>(Note that btn-circle doesn't come with Bootstrap by default, we got it from
  the theme we bought)</p>

<h2>Alerts</h2>

<div class="alert alert-success" role="alert"> <strong>Well done!</strong> You successfully read this important alert message. </div> <div class="alert alert-info" role="alert"> <strong>Heads up!</strong> This alert needs your attention, but it's not super important. </div> <div class="alert alert-warning" role="alert"> <strong>Warning!</strong> Better check yourself, you're not looking too good. </div> <div class="alert alert-danger" role="alert"> <strong>Oh snap!</strong> Change a few things up and try submitting again. </div>


<pre><%= %[
<div class="alert alert-success" role="alert">...</div>
<div class="alert alert-info" role="alert">...</div>
<div class="alert alert-warning" role="alert">...</div>
<div class="alert alert-danger" role="alert">...</div>
] %></pre>
