<% provide :title, 'Regions of Interest' %>

<div class="hpanel interest-regions-survey">
  <div class="panel-heading hbuilt">
    <div class="row">
      <div class="col-xs-12 greeting-message">
        <h1>Interested in any of these locations?</h1>
        <h4>Select all the regions you would be interested in visiting. We'll save the regions to your profile and alert when there are great deals</h4>
      </div>
    </div><!-- .row -->
  </div>

  <div class="panel-body">
    <%= form_tag survey_interest_regions_path, class: "text-center" do |f| %>
      <div class="row">
        <% present_each(@regions) do |region_p| %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 region-box">
            <%= region_p.name_tag %>
            <%= region_p.survey_checkbox_tag %>
            <%= region_p.image %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-lg btn-primary submit-button">
            <i class="fa fa-check" aria-hidden="true"></i>
            Save and continue
          </button>
        </div>
      </div>
    <% end %>
  </div><!-- .panel-body -->
</div>
