<% provide :title, 'New Card Product' %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1 class="font-light m-b-xs">New Card</h1>
  </div>
  <div class="panel-body">
    <%= render 'form', card: @product %>
  </div>
</div>

