<% if false # add to wrapper %>
  div class="col-xs-12 col-sm-6 col-md-6
<% end %>
<div id="img-container">
  <div class="image-text">
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/abroaders-heroku-app/card_products/images/000/000/054/original/bf51e60da5f1fc094c18ef49e0c227ac.png?1464865044" alt="Bf51e60da5f1fc094c18ef49e0c227ac" class="img-responsive">
    </div>
    <div class="col-md-8">
      <p class="text-left" style="font-size: 18px; padding-top: 10px;">Chase Sapphire Preferred (Visa)</p>
    </div>
    <br>

    <div class="col-md-12">
      <br>
      <p>(description
      <p><span class="fa fa-check" style="color: #35a7ff;"></span> 2X points on travel and dining at restaurants worldwide &amp; 1 point per dollar spent on all other purchases.</p>
      <p><span class="fa fa-check" style="color: #35a7ff;"></span> Named Best Credit Card for Flexible Travel Redemption - Kiplinger's Personal Finance, July 2016.</p>

      <p style="border: 0px solid #47da95; padding-left: 10px; padding-right: 10px; background-color: #e6e6e6"><strong>Bottom line:</strong> <em>We like this card because of it's combination of this and that and did you know that if yup exactly that, it's fucking awesome</em></p>



      <br>
      <button class="btn btn-info" style="background: #35a7ff;">Apply now</button> <button class="btn  btn-default">no thanks</button>
    </div>
</div></div>
                                                                             </div>
