<table
  cellpadding="1"
  cellspacing="1"
  class="admin_recommend_card_product_offers_table table"
  id="admin_recommend_card_product_<%= id %>_offers_table"
>
  <tbody><%= rows %></tbody>
</table>
