<div class="hpanel col-xs-12 col-sm-6">
  <div class="panel-body">
    <h3><%= first_name %>'s Financials</h3>

    <p>
      You told us that <%= first_name %> is not eligible to apply for
      credit cards in the U.S., so we don't need to know his/her financial
      information.
    </p>
  </div>
</div>
