<h3>
  Cards
  <small><%= link_to raw('&plus; Add'), new_admin_person_card_path(person) %></small>
</h3>

<%= table do %>
  <thead>
    <th>Card ID</th>
    <th>Name</th>
    <th>Status</th>
    <th class="sortable-column recommended">Rec'ed</th>
    <th>Seen</th>
    <th>Clicked</th>
    <th class="sortable-column applied">Applied</th>
    <th>Denied</th>
    <th>Declined</th>
    <th class="sortable-column opened sorted-column">Opened</th>
    <th class="sortable-column closed">Closed</th>
    <th></th>
  </thead>
  <tbody>
    <%= table_rows %>
  </tbody>
<% end %>

<% if no_cards? %>
  <p id="admin_person_cards_none">User has no existing card accounts</p>
<% end %>

<%= link_to_pulled_recs %>
