<table
  class="admin-card-recommendation-table table"
  cellpadding="1"
  cellspacing="1"
>
  <thead class="admin-card-recommendations-table-head">
    <tr>
      <th class="card-identifier">
        Identifier
      </th>
      <th class="card-name">
        Name
      </th>
      <th class="card-bank-name">
        Bank
      </th>
      <th class="card-bp">
        B/P
      </th>
      <th class="card-currency">
        Currency
      </th>
    </tr>
  </thead>

  <tbody>
    <% offers_grouped_by_product.each do |product, offers| %>
      <%= product_row(product) %>
      <%= offers_table(product) %>
    <% end %>
  </tbody>
</table><!-- .admin-card-recommendation-table -->
