<%# The fixed position footer messes up the tests because Capybara/Poltergeist %>
<%# sometimes tries to click on the footer instead of the button/link whatever %>
<%# hidden beneath the footer. So don't show it in tests: %>
<% unless Rails.env.test? %>
  <footer class="footer hidden-xs">
    <span class="pull-right">
      <%= link_to "Terms and Conditions", terms_and_conditions_path %> |
      <%= link_to "Privacy Policy", privacy_policy_path %>
    </span>
    © Abroaders <%= Time.zone.today.year %>
  </footer>
  <div class="footer-spacer"></div>
<% end %>
