<%= person_select_form do %>
  <div class="form-group">
    Who wants new cards? <%= person_select_field %>
  </div>

  <div class="btn-group">
    <button class="submit_btn btn btn-success">
      Go
    </button>
    <button class="cancel_btn btn btn-default">
      Cancel
    </button>
  </div>
<% end %>
