<% provide :title, "Select Account Type" %>

<div
  data-react-component="AccountTypeForm"
  data-owner-name="<%= @owner.first_name %>"
  data-destination-name="<%= @destination&.name %>"
  data-action="<%= type_account_path %>"
/>
</div>
